// common

    

html, body
    height 100%
    font-family: Georgia, serif;

body 
    -webkit-font-smoothing: antialiased;

.rafting-page
    opacity 0
    transition 1s ease all
    &.loaded
        opacity 1

h1, .h1
    font-family: 'chinese_rocks';
    font-size 60px
    letter-spacing 6px
    text-align center
    margin-bottom 20px
    span
        letter-spacing 10px
    @media $m
        font-size 48px
        letter-spacing 4px

h2, .h2
    font-family: 'migrateC';
    font-size 60px
    text-align center
    margin-bottom 50px
    @media $m
        font-size 48px

p
    font-size 18px
    line-height 24px
    margin-bottom 60px

.btn
    display inline-flex
    align-items center
    justify-content center
    font-family Verdana, Geneva, sans-serif; 
    color #000
    background #fff
    text-decoration none
    font-size 18px
    height 50px
    padding 0 50px
    box-shadow: 0px 5px 15px 0px rgba(30, 63, 81, 0.3),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
    border-radius 50px
    transition all 0.3s ease
    &:hover
        background #AC8B6C
        color #fff

ol.number-list
    counter-reset ol-list
    display flex
    flex-flow row wrap
    margin-bottom 60px
    li
        counter-increment: ol-list
        max-width 25%
        padding-right 20px
        padding-left 45px
        box-sizing border-box
        display flex
        position relative
        line-height 22px
        margin-bottom 40px
        @media $m
            max-width 33%
        @media $s
            width 50%
            max-width 100%
            padding-right 8%
        &:before
            position absolute
            left 0
            display flex
            align-items center
            justify-content center
            font-family Verdana, Geneva, sans-serif; 
            font-size 12px
            content: counter(ol-list)
            width 30px
            height 30px
            margin-right 10px
    &_light li:before
        color #749eb7
        background url('../i/circle.png') no-repeat center;
    &:not(.number-list_light) li:before
        color #949ba0
        background url('../i/circle-2.png') no-repeat center;

// hero
.hero-parallax
    height 1268px
    &__layer
        position: absolute;
        top: 0;
        transform: translateY(0px);
        height: 1268px
        width: 100%;
        background-repeat no-repeat
        background-position center 0
    &__text
        position absolute
        top 520px  
        z-index 10
        max-width 950px
        width 100%
        padding 0 20px
        left 50%
        margin-left -475px
        text-align center
        @media $m
            max-width 100%
            margin 0 auto
            left 0
            padding 0 30px
            box-sizing border-box
        p
            margin-bottom 140px
            //text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    h1
        padding-top 430px
        position relative
    h2
        @media $m
            margin-top 30px
        
.hero, .hero-parallax
    position relative
    height 1250px
    background url('../i/bg-1.jpg') no-repeat center top;
    color #fff
    overflow hidden
    &__inner
        max-width 950px
        margin 0 auto
        padding 0 30px
        padding-top 435px
        text-align center
        p
            margin-bottom 120px
    &__rocks-1
        position absolute
        top 400px
        height 100px
        width 100%
        background url('../i/bg-1-rocks.png') no-repeat center top;
    h1, .h1
        position relative
        z-index 0
        @media $m
            z-index 2

// requirement
.requirement
    background url('../i/bg-2.png') no-repeat center bottom #204D6A
    color #dfe7e9
    padding-bottom 150px
    position relative
    &:before
        content ''
        position absolute
        top -180px
        display block
        height 220px
        width 100%
        background url('../i/bg-blue-1.png') no-repeat center 0
    &__inner
        max-width 1280px
        padding 0 40px
        margin 0 auto
        position relative
        z-index 1
        h2, .h2
            color #fff
        p
            text-align justify
            &:first-letter
                font-size 50px
                color #fff

.boat-slider
    background url('../i/waves.png') repeat-x 0 40px;
    font-family Verdana, Geneva, sans-serif; 
    box-sizing border-box
    .slick-list
        padding 0 30px 0 100px
    &__image
            height 230px
            display flex
            align-items center
            justify-content center
        img
            max-width 100%
    &__text
        max-width 240px
        margin 0 auto
        padding 0 20px
        p
            font-size 14px
            line-height 18px
            color #a5b0b2
        h3
            font-size 16px
            color #bccbce
            font-weight bold
            margin-bottom 20px
// bad news
.bad-news
    padding-top 90px
    background url('../i/river.jpg') no-repeat center bottom
    padding-bottom 450px
    @media $m
        padding-bottom 300px

.news-slider
    .slick-list
        padding-right 100px
    &__item
        padding-left 100px
    &__image
        max-height 343px
        margin-bottom 30px
        img
            max-width 100%
            height auto
            margin-top auto
    h3
        font-family Verdana, Geneva, sans-serif; 
        font-weight bold
        margin-bottom 20px
    p 
        font-size 16px
        margin-bottom 0

// warnings
.warning
    min-height 1100px
    background url('../i/bg-bottom-1.jpg') no-repeat center top;
    position relative
    padding-top 260px
    box-sizing border-box
    @media $m
        padding-top 180px
    &__bg-2
        position absolute
        top 0
        min-height 1100px
        width 100%
        background url('../i/bg-bottom-2.png') no-repeat center bottom
    &__text
        max-width 980px
        margin 0 auto
        padding 380px 30px 0
        text-align center
        @media $m
            padding-top 330px
    &__intro
        padding 0 30px

.warning-steps
    position relative
    margin-top -80px
    &:before
        content ''
        display block
        height 80px
        background url('../i/waves-2.png') no-repeat center top 
        width 100%
        top -35px
        position absolute
        z-index 2
    .warning-steps__content
        max-width 1100px
        margin 0 auto
        padding 100px 40px 0