html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  font-family: Georgia, serif;
}
body {
  -webkit-font-smoothing: antialiased;
}
.rafting-page {
  opacity: 0;
  transition: 1s ease all;
}
.rafting-page.loaded {
  opacity: 1;
}
h1,
.h1 {
  font-family: 'chinese_rocks';
  font-size: 60px;
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: 20px;
}
h1 span,
.h1 span {
  letter-spacing: 10px;
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 48px;
    letter-spacing: 4px;
  }
}
h2,
.h2 {
  font-family: 'migrateC';
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
  h2,
  .h2 {
    font-size: 48px;
  }
}
p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
  background: #fff;
  text-decoration: none;
  font-size: 18px;
  height: 50px;
  padding: 0 50px;
  box-shadow: 0px 5px 15px 0px rgba(30,63,81,0.3), inset 0px 1px 0px 0px rgba(255,255,255,0.004);
  border-radius: 50px;
  transition: all 0.3s ease;
}
.btn:hover {
  background: #ac8b6c;
  color: #fff;
}
ol.number-list {
  counter-reset: ol-list;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 60px;
}
ol.number-list li {
  counter-increment: ol-list;
  max-width: 25%;
  padding-right: 20px;
  padding-left: 45px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  line-height: 22px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  ol.number-list li {
    max-width: 33%;
  }
}
@media screen and (max-width: 768px) {
  ol.number-list li {
    width: 50%;
    max-width: 100%;
    padding-right: 8%;
  }
}
ol.number-list li:before {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  content: counter(ol-list);
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
ol.number-list_light li:before {
  color: #749eb7;
  background: url("../i/circle.png") no-repeat center;
}
ol.number-list:not(.number-list_light) li:before {
  color: #949ba0;
  background: url("../i/circle-2.png") no-repeat center;
}
.hero-parallax {
  height: 1268px;
}
.hero-parallax__layer {
  position: absolute;
  top: 0;
  transform: translateY(0px);
  height: 1268px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
}
.hero-parallax__text {
  position: absolute;
  top: 520px;
  z-index: 10;
  max-width: 950px;
  width: 100%;
  padding: 0 20px;
  left: 50%;
  margin-left: -475px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .hero-parallax__text {
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    padding: 0 30px;
    box-sizing: border-box;
  }
}
.hero-parallax__text p {
  margin-bottom: 140px;
}
.hero-parallax h1 {
  padding-top: 430px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .hero-parallax h2 {
    margin-top: 30px;
  }
}
.hero,
.hero-parallax {
  position: relative;
  height: 1250px;
  background: url("../i/bg-1.jpg") no-repeat center top;
  color: #fff;
  overflow: hidden;
}
.hero__inner,
.hero-parallax__inner {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 435px;
  text-align: center;
}
.hero__inner p,
.hero-parallax__inner p {
  margin-bottom: 120px;
}
.hero__rocks-1,
.hero-parallax__rocks-1 {
  position: absolute;
  top: 400px;
  height: 100px;
  width: 100%;
  background: url("../i/bg-1-rocks.png") no-repeat center top;
}
.hero h1,
.hero-parallax h1,
.hero .h1,
.hero-parallax .h1 {
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .hero h1,
  .hero-parallax h1,
  .hero .h1,
  .hero-parallax .h1 {
    z-index: 2;
  }
}
.requirement {
  background: url("../i/bg-2.png") no-repeat center bottom #204d6a;
  color: #dfe7e9;
  padding-bottom: 150px;
  position: relative;
}
.requirement:before {
  content: '';
  position: absolute;
  top: -180px;
  display: block;
  height: 220px;
  width: 100%;
  background: url("../i/bg-blue-1.png") no-repeat center 0;
}
.requirement__inner {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.requirement__inner h2,
.requirement__inner .h2 {
  color: #fff;
}
.requirement__inner p {
  text-align: justify;
}
.requirement__inner p:first-letter {
  font-size: 50px;
  color: #fff;
}
.boat-slider {
  background: url("../i/waves.png") repeat-x 0 40px;
  font-family: Verdana, Geneva, sans-serif;
  box-sizing: border-box;
}
.boat-slider .slick-list {
  padding: 0 30px 0 100px;
}
.boat-slider__image {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boat-slider img {
  max-width: 100%;
}
.boat-slider__text {
  max-width: 240px;
  margin: 0 auto;
  padding: 0 20px;
}
.boat-slider__text p {
  font-size: 14px;
  line-height: 18px;
  color: #a5b0b2;
}
.boat-slider__text h3 {
  font-size: 16px;
  color: #bccbce;
  font-weight: bold;
  margin-bottom: 20px;
}
.bad-news {
  padding-top: 90px;
  background: url("../i/river.jpg") no-repeat center bottom;
  padding-bottom: 450px;
}
@media screen and (max-width: 1024px) {
  .bad-news {
    padding-bottom: 300px;
  }
}
.news-slider .slick-list {
  padding-right: 100px;
}
.news-slider__item {
  padding-left: 100px;
}
.news-slider__image {
  max-height: 343px;
  margin-bottom: 30px;
}
.news-slider__image img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
}
.news-slider h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.news-slider p {
  font-size: 16px;
  margin-bottom: 0;
}
.warning {
  min-height: 1100px;
  background: url("../i/bg-bottom-1.jpg") no-repeat center top;
  position: relative;
  padding-top: 260px;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .warning {
    padding-top: 180px;
  }
}
.warning__bg-2 {
  position: absolute;
  top: 0;
  min-height: 1100px;
  width: 100%;
  background: url("../i/bg-bottom-2.png") no-repeat center bottom;
}
.warning__text {
  max-width: 980px;
  margin: 0 auto;
  padding: 380px 30px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .warning__text {
    padding-top: 330px;
  }
}
.warning__intro {
  padding: 0 30px;
}
.warning-steps {
  position: relative;
  margin-top: -80px;
}
.warning-steps:before {
  content: '';
  display: block;
  height: 80px;
  background: url("../i/waves-2.png") no-repeat center top;
  width: 100%;
  top: -35px;
  position: absolute;
  z-index: 2;
}
.warning-steps .warning-steps__content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 40px 0;
}
