extends layouts/default

block content
  .rafting-page
    // section hero
    .hero-parallax
      .hero-parallax__layer.hero-parallax__layer_n1(
        style="background-image:url('f/i/bg-0-1.jpg')"
      )
      .hero-parallax__layer.hero-parallax__layer_n2(
        style="background-image:url('f/i/bg-0-2.png')"
        data-paroller-factor="0.01"
        data-paroller-type="foreground"
        data-paroller-transition="transform 0.3s ease"
      )
      .hero-parallax__layer.hero-parallax__layer_n3(
        style="background-image:url('f/i/bg-0-3.png')"
        data-paroller-factor="-0.01"
        data-paroller-type="foreground"
        data-paroller-transition="transform 0.2s ease"
      )
      h1.hero-parallax__layer(
        data-paroller-factor="-0.02"
        data-paroller-type="foreground"
        data-paroller-transition="transform 0.25s ease"
      ) Рафтинг — осно<span>вы</span> безопасности 
      .hero-parallax__layer.hero-parallax__text(
        data-paroller-factor="-0.02"
        data-paroller-type="foreground"
        data-paroller-transition="transform 0.25s ease"
      )
        h2 правила поведения на воде
        p Перед началом экспедиции необходимо подать заявку в&nbsp;службы спасения с&nbsp;указанием маршрута и&nbsp;предполагаемыми местами стоянок, а&nbsp;также оговорить контрольные сроки пребывания на&nbsp;маршруте.
        a.btn(href="#") Подать заявку на сайте МЧС России
      .hero-parallax__layer.hero-parallax__layer_n4(
        style="background-image:url('f/i/bg-0-4.png')"
        data-paroller-factor="-0.03"
        data-paroller-transition="transform 0.25s ease"
        data-paroller-type="foreground"
      )
      .hero-parallax__layer.hero-parallax__layer_n5(
        style="background-image:url('f/i/bg-0-5.png')"
        data-paroller-transition="transform 0.3s ease"
        data-paroller-type="foreground"
        data-paroller-factor="-0.05"
      )
    /// section hero
      // section requirement
    section.requirement
      .requirement__inner
        h2 Общие требования во время сплава
        p Сплав по горным рекам — занятие далеко не из разряда простых оно сложное и опасное. Однако при всей своей сложности и неординарности оно дает массу положительных эмоций, становится идеальным средством для снятия стрессов, позволяет получить мощный заряд бодрости на длительный период времени. Именно поэтому сегодня появляется все больше желающих освоить этот вид активного отдыха, причем с последующим неоднократным повторением в перспективе.
        ol.number-list.number-list_light
          li Каждый участник сплава должен обязательно находиться в застегнутом спасательном жилете и каске.
          li Запрещается самовольно покидать судно.
          li Расстояние между экипажами не должно превышать 30–100 метров.
          li Запрещается самовольно покидать назваченные инструктором места.
          li Необходимо строго соблюдать место забора питьевой воды.
          li Запрещается распивать спиртные напитки на воде.
          li На опасных участках при необходимости нужно высаживать людей и проходить данный участок пешком, возможно с обносом.
          li В большую воду обязательно нужна разведка сложных участков маршрута.
      .boat-slider
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-1.png")
          .boat-slider__text
            h3 Рафт
            p Сам термин происходит от английского слова raft, что в переводе означает плот. Рафтингом называется сплав на катамаранах, байдарках, каноэ, рафтах по бурной, богатой порогами, реке.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-2.png")
          .boat-slider__text
            h3 Катамаран
            p Катамаран от тамильского — «связанные брёвна». Суда, состоящие из двух корпусов, соединены между собой палубным или ферменным мостом.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-3.png")
          .boat-slider__text
            h3 Лодка
            p Небольшое гребное, парусное или моторное судно до девяти метров, шириной до трёх метров и грузоподъёмностью до пяти тонн.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-4.png")
          .boat-slider__text
            h3 Плот
            p Древнейшее несамоходное плавучее сооружение, конструкция для плаванья, из связанных совместно брёвен или стеблей камыша, тростника, скрученных в пучки.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-5.png")
          .boat-slider__text
            h3 Байдарка
            p Маломерное запалубленное судно, остроносая гребная легкая лодка, легко идущая даже по отмелям и заболоченным местам.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-1.png")
          .boat-slider__text
            h3 Рафт-2
            p Сам термин происходит от английского слова raft, что в переводе означает плот. Рафтингом называется сплав на катамаранах, байдарках, каноэ, рафтах по бурной, богатой порогами, реке.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-2.png")
          .boat-slider__text
            h3 Катамаран-2
            p Катамаран от тамильского — «связанные брёвна». Суда, состоящие из двух корпусов, соединены между собой палубным или ферменным мостом.
        .boat-slider__item
          .boat-slider__image
            img(src="f/i/boat-3.png")
          .boat-slider__text
            h3 Лодка-2
            p Небольшое гребное, парусное или моторное судно до девяти метров, шириной до трёх метров и грузоподъёмностью до пяти тонн.
    /// section requirement
    // section bad news
    section.bad-news
      h2 Сплавы по рекам закончившиеся трагедиями
      .news-slider
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-1.jpg")
          .news-slider__text
            h3 Трагедия на реке Юрункаш
            p В результате двух последовательных аварийных ситуаций при сплаве по неразведанным участкам реки 24 и 27 августа 2007 года погибло трое из шести членов группы, включая руководителя, один человек пропал без вести. Двое выживших туристов были спасены в ходе совместной поисково-спасательной операции МЧС России и Министерства обороны КНР.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-2.jpg")
          .news-slider__text
            h3 Трагедия не реке Кита
            p 15 июля 2016 года группа туристов отправилась на сплав на слияние двух рек Китой и Ара-Ошей в Окинском районе Бурятии, в ходе которого погиб мужчина.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-3.jpg")
          .news-slider__text
            h3 Роковой рафтинг
            p 30 декабря 2012 в походе на надувных плотах по одной из рек в лесном парке Тараруа в Новой Зеландии. Из-за сильных дождей уровень воды в реке значительно вырос, и оскороносного звукорежиссёра («Кинг Конг», «Властелин колец», «Трансформеры») Майка Хопкинса сбило с плота волной от внезапно сошедшего потока воды. Его тело было найдено несколькими часами позже в реке.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-4.jpg")
          .news-slider__text
            h3 Трагедия на Урале
            p 24 апреля 2013 на популярном маршруте на реке Чусовой в Свердловской области, сплав закончился гибелью двух человек, когда лодка-моторка налетела близ камня Молоков на бревно. Третий человек сумел спастись. Поиски погибших еще не дали результатов.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-1.jpg")
          .news-slider__text
            h3 Трагедия на реке Юрункаш-2
            p В результате двух последовательных аварийных ситуаций при сплаве по неразведанным участкам реки 24 и 27 августа 2007 года погибло трое из шести членов группы, включая руководителя, один человек пропал без вести. Двое выживших туристов были спасены в ходе совместной поисково-спасательной операции МЧС России и Министерства обороны КНР.
        .news-slider__item
          .news-slider__image
            img(src="f/i/news-2.jpg")
          .news-slider__text
            h3 Трагедия не реке Кита-2
            p 15 июля 2016 года группа туристов отправилась на сплав на слияние двух рек Китой и Ара-Ошей в Окинском районе Бурятии, в ходе которого погиб мужчина.
    /// section bad news
    // warning
    section.warning
      .warning__intro
        h2 При сплавах обязательно надевать спасательные жилеты!
      .warning__bg-2
        .warning__text
          p Период отпусков и отдыха, связанного с водоемами, продолжается. Независимо от вида водоёма, будь то море, река, озеро или пруд каждый человек должен знать и неукоснительно соблюдать правила поведения и меры безопасности на воде.
    .warning-steps
      .warning-steps__content
        h2 Если вы попали в воду или судно перевернулось
        ol.number-list
          li Любыми способами постараться удержаться на судне. Необходимо использовать страховочные стремена по указанию инструктора.
          li Запрещается привязывать себя верёвками, застёжками, обматывать верёвки вокруг тела, вокруг ног, рук и т. д.
          li Не паниковать и не терять вёсел.
          li При попадании в холодную воду — главное не сбить дыхание.
          li Необходимо сосредоточиться и, не поддаваясь панике, оценить ситуацию.
          li Необходимо самостоятельно пытаться остаться на плаву до оказания помощи.
          li Осмотревшись, необходимо плыть к перевёрнутому судну или к ближайшему страховочному судну.
          li Если близко берег — плыть к берегу.
    /// warning