head
	meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(content="", name="Description")
	meta(content="", name="Keywords")
	meta(content="yes", name="apple-mobile-web-app-capable")
	meta(name="HandheldFriendly", content="true")
	link(rel="icon" type="image/x-icon" href="https://www.mchs.gov.ru/favico.ico")

	title Рафтинг

	link(href="f/css/libs.css", rel="stylesheet", type="text/css")
	link(href="f/css/main.css", rel="stylesheet", type="text/css")
